*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
h2{
    background-color: aquamarine;
}
h3{
    background-color: blueviolet;
}
hr{
    border-color: pink;
}
p{
    color: cornflowerblue;
}
div{
    color: darkkhaki;
}
span{
    background-color: yellowgreen;
}

img{
    border-radius: 15px;
    width: 75vw;
}
a{
    border: solid blue 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}